models/
data/*
!data/process_stuck.py
__pycache__/
**/checkpoints/
result/
envs/curobo
*.zip
viewer_show.*
eval_video/
task_config/
**/.DS_Store

policy/pi05/lerobodata
policy/pi05/training_data
policy/pi05/processed_data
# eval result
eval_result/

# Code Generation
assets/*
!assets/_download.py
!assets/files
!assets/embodiments/realman
policy/weights/*

envs/curobo/*

.vscode
/config.json

/*.json*
/*.txt
